$red: green;

.textRed{
    color: $red;
    font-weight: bold;
}

.textColor{
    @extend .textRed;
}

.text2{
    color:yellow;
}



.buttonFloating{
    width: 250;
}
.buttonLoginFloating{
    width:250;
}

.buttonStyleRegister{
    border-width: 1;
    border-width: '#02b2bc';
    border-radius: 30;
    background-color:'#02b2bc';
    height:60;
}

.formStyles{
    width:"80%";
    margin-top:10;
}

